.messenger {
    height: calc(100vh - 70px);
    display: flex;
}
.chatBoxTop{
    display: flex;
    flex-direction: column;
}
.chatMenu{
    flex: 3.5;
}
.chatMenuInput{
    width: 90%;
    padding: 10px 0;
    border:  none;
    border-bottom: 1px solid gray;

}
.chatBox {
    flex: 5.5;
}

.chatOnline{
    flex: 3;
}

.chatMenuWrapper ,
.chatBoxWrapper ,
.chatOnlineWrapper {
    padding: 10px;
    height: 100%;
}

.chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chatBoxWrapper .chatBoxTop{
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
 
}

.chatBoxWrapper .chatBoxBottom {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatBoxBottom .chatMessageInput {
    width: 80%;
    height: 90px;
    padding: 10px;

}
.chatBoxBottom .chatSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
}

.noCoverSactionText {
     position: absolute;
     top: 10%;
     font-style: 50px;
     color: gray 
}